/* basic template for all pages ---------------------------------- */
body {
  --nav-width: 200px;
  --dark-blue: #22223b;
  --light-blue: #4a4e69;
  --purple: #9a8c98;
  --brown: #c9ada7;
  --white: #f2e9e4;
  --green: #006d77;
  --red: #a4133c;
  margin: 0 0 0 var(--nav-width);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  display: flex;
  height: 100vh;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background: var(--dark-blue);
}

.nav__link {
  display: flex;
  padding: 12px 18px;
  text-decoration: none;
  color: var(--purple);
  font-weight: 500;
  align-items: center;
  border: 0;
  background-color: inherit;
}

.active, .nav__link:hover {
  background: rgba(255, 255, 255, 0.05);
  color: var(--white);
}

.active, .nav__link:hover > img {
  filter: brightness(0) saturate(100%) invert(97%) sepia(7%) saturate(366%) hue-rotate(320deg) brightness(92%) contrast(107%);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 5vh;
  color: var(--purple);
  height: 10vh;
  background-color: var(--light-blue);
}

#app {
  margin: 3.8em 0 0 0;
  line-height: 1.5;
  font-weight: 500;
  flex: 1;
}

.menu_icon {
  width: 18px;
  align-items: center;
  padding-right: 10px;
  filter: brightness(0) saturate(100%) invert(62%) sepia(9%) saturate(386%) hue-rotate(257deg) brightness(92%) contrast(82%);
}

button.nav__link {
  width: 100%;
  font-size: inherit;
}


/* dialogs - add category, create category ---------------------------------- */
.dialog_container[open] {
  position: fixed;
  min-width: fit-content;
  background-color: var(--brown);
  border: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.dialog_heading {
  color: var(--dark-blue);
}

label, #currency {
  font-weight: 600;
  color: var(--light-blue);
  font-size: 16px;
}

input[type=text] {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 35px;
  padding: 8px;
  margin: 5px 0;
  opacity: 0.7;
  border-bottom-width: 3px;
  border-color: var(--purple);
  border-radius: 2px 2px 0 0;
}

input[type=text]:focus {
  border-color: var(--dark-blue);
  outline: none;
  color: var(--dark-blue)
}

.dropdown {
  border-radius: 5px;
  padding: 3px;
  margin: 5px 0;
  background-color: var(--dark-blue);
  color: var(--white);
  border: 0;
}

input[type=submit], input[type=button] {
  border-radius: 5px;
  padding: 3px;
  border: 0;
  margin: 0 5px 0 0;
  color: var(--white);
  overflow: auto;
}

input[type=number] {
  border-radius: 5px;
  padding: 3px;
  border: 0;
  margin: 5px 0;
  background-color: var(--white);
  color: var(--dark-blue);
  outline: none;
}

input[type=submit] {
  background-color: var(--green);
}

input[type=button] {
  background-color: var(--purple);
}

input[type=submit]:hover, input[type=button]:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}


/* general aligning and filler divs ---------------------------------- */
.float_left {
  display: flex;
  justify-content: end;
}

.center {
  text-align: center;
  margin: auto;
}

.filler-div {
  width: 10px;
  height: 10px;
}

.empty-div {
  height: 0;
}


/* overview ---------------------------------- */
.grid-container {
  display: inline-grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 10px transparent;
  padding: 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  min-height: 50vh - var(--nav-width);
  align-items: center;
}

.category-wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 1em;
  background-color: var(--brown);
  padding: 0.5em 0.5em 0 0.5em;
}
.category-heading {
  font-size: 0.8em;
  margin: 0 0 0.5em;
  color: var(--white);
  padding-left: 0.5em;
}

b {
  font-size: 0.6em;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 1em;
}

strong, small {
  font-size: 0.5em;
  padding: 0 1em;
  white-space: nowrap;
}

.record-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0 0.2em 0.5em;
  background-color: var(--white);
  border-bottom: solid var(--light-blue) 1px;
}


/* history ---------------------------------- */
.history-content {
  display: grid;
}

.date-interval-container {
  height: fit-content;
  text-align: center;
  padding: 2em 0;
}

.date-interval-container label {
  font-size: 20px;
}

.month-header {
  background: rgba(0,0,0,.3);
  color: var(--dark-blue);
  font-size: 1.5em;
  margin: auto;
  width: 100%;
}

.month-wrapper {
  width: calc(90vw - var(--nav-width));
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 1em;
  margin: 10px auto;
  padding: 0.5em 0.5em 0 0.5em;
}


/* recipes ---------------------------------- */
.searchbar {
  width: 100%;
  height: 20%;
}

#create-recipe-button {
  width: 30em;
  height: 4em;
  border-radius: 10px;
  margin: 30px;
  color: var(--dark-blue);
  align-items: center;
  text-align: center;
}

#create-recipe-button > b {
  font-size: 1.5em;
  padding: 0;
}

#create-recipe-button > img {
  filter: invert(13%) sepia(21%) saturate(1235%) hue-rotate(201deg) brightness(90%) contrast(95%);
  width: 1.7em;
  margin: auto;
}

#create-recipe-button:hover {
  background-color: var(--purple);
}

#create-recipe-button:active {
  background-color: var(--white);
}

#recipes-container {
  display: flex;
}

#recipes-sidebar {
  height: 100%;
  width: 30vw;
  top: 10%;
  right: 0;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#droppable-container {
  height: 90%;
  top: 10%;
  width: inherit;
}

#recipe-name-div {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
}

#save-recipe, #cancel-recipe {
  flex: 1;
  background-color: var(--white);
  border: 0;
}

ul {
  font-size: 1em;
  list-style-type: none;
  max-width: 200px;
  overflow: auto;
  background-color: aliceblue;
  margin-left: 1em;
  margin-top: 0;
  color: var(--dark-blue);
}

.droppable-show {
  border: dashed grey;
  margin: 1em;
  text-align: center;
  align-items: center;
  color: grey;
  padding: 50% 0;
}

#droppable-container > li {
  list-style-type: none;
  margin-left: 1em;
}

#food-input {
  background-color: aliceblue;
  color: black;
  width: 200px;
  margin: 1em;
  transition: all 1s;
}

#food-input:hover {
  width: 300px;
}

.recipe {
  width: 50%;
  margin: 1em 0 0 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.food-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.2em 0 1em;
  font-size: 1em;
  background-color: var(--white);
  border-bottom: solid var(--light-blue) 1px;
}

.food-item > strong {
  font-size: 1em;
}

.recipe > h3 {
  padding: 0.5em 0 0 0.5em;
}
